<section class="hero">
  <div class="hero-body no-left">
    <div class="container">
      <h1 class="title"><%=@mob.name%></h1>
      <h2 class="subtitle"><%=@mob.sprite%> (<%=@mob.uid%>)</h2>
    </div>
  </div>
</section>

<% table = @mob.elemental_table %>
<table class="table is-fullwidth is-bordered">
  <tr>
    <td rowspan="<%=@mob.is_boss? || @mob.is_mvp? ? '10' : '11' %>" colspan="4" align="center" valign="center" width="30%" class="has-text-centered" style="vertical-align:middle;">
      <img src="<%=@mob.image%>" style="padding-top:40px" />
    </td>
    <td colspan="2"><strong>Raça</strong></td>
    <td><%=@mob.race_text%></td>
    <td colspan="2"><strong>Elemento</strong></td>
    <td><%=@mob.element_text%></td>
    <td><strong>Propriedade</strong></td>
    <td><strong>Dano</strong></td>
  </tr>
  <tr>
    <td colspan="2"><strong>Nível</strong></td>
    <td><%=@mob.level%></td>
    <td colspan="2"><strong>Tamanho</strong></td>
    <td><%=@mob.size%></td>
    <td>Neutro</td>
    <td><%=format_element(table["neutral"])%></td>
  </tr>
  <tr>
    <td colspan="2"><strong>Alcance</strong></td>
    <td><%=@mob.range%> células</td>
    <td colspan="2"><strong>Ataque</strong></td>
    <td><%=@mob.atk1%> ~ <%=@mob.atk2%></td>
    <td>Água</td>
    <td><%=format_element(table["water"])%></td>
  </tr>
  <tr>
    <td colspan="2"><strong>HP</strong></td>
    <td><%=@mob.hp%></td>
    <td colspan="2"><strong>Defesa</strong></td>
    <td><%=@mob.def%></td>
    <td>Terra</td>
    <td><%=format_element(table["earth"])%></td>
  </tr>
  <tr>
    <td colspan="2"><strong>SP</strong></td>
    <td><%=@mob.sp%></td>
    <td colspan="2"><strong>Defesa Mágica</strong></td>
    <td><%=@mob.mdef%></td>
    <td>Fogo</td>
    <td><%=format_element(table["fire"])%></td>
  </tr>
  <tr>
    <td colspan="2"><strong>Experiência Base</strong></td>
    <td><%=@mob.real_base_exp%></td>
    <td colspan="2"><strong>Experiência de Classe</strong></td>
    <td><%=@mob.real_job_exp%></td>
    <td>Vento</td>
    <td><%=format_element(table["wind"])%></td>
  </tr>
  <tr>
    <td colspan="2"><strong>100% de Acerto</strong></td>
    <td><%=@mob.acerto%></td>
    <td colspan="2"><strong>95% de Esquiva</strong></td>
    <td><%=@mob.esquiva_95%></td>
    <td>Veneno</td>
    <td><%=format_element(table["poison"])%></td>
  </tr>
  <tr>
    <td colspan="2"><strong>Attack Delay</strong></td>
    <td><%=@mob.atk_delay%></td>
    <td colspan="2"><strong>ASPD</strong></td>
    <td><%=@mob.aspd%></td>
    <td>Sagrado</td>
    <td><%=format_element(table["holy"])%></td>
  </tr>
  <tr>
    <td><strong>FOR</strong></td>
    <td><strong>AGI</strong></td>
    <td><strong>VIT</strong></td>
    <td><strong>INT</strong></td>
    <td><strong>DES</strong></td>
    <td><strong>LUK</strong></td>
    <td>Sombrio</td>
    <td><%=format_element(table["shadow"])%></td>
  </tr>
  <tr>
    <td><%=@mob.str%></td>
    <td><%=@mob.agi%></td>
    <td><%=@mob.vit%></td>
    <td><%=@mob.int%></td>
    <td><%=@mob.dex%></td>
    <td><%=@mob.luk%></td>
    <td>Fantasma</td>
    <td><%=format_element(table["ghost"])%></td>
  </tr>
  <tr>
    <% if @mob.is_boss? || @mob.is_mvp? %>
      <td colspan="4" align="center" valign="center" class="has-text-centered" style="vertical-align:middle;">
        <img src="/mob_<%=@mob.is_mvp? ? 'mvp' : 'miniboss' %>.gif" />
      </td>
    <% end %>
    <td colspan="<%=@mob.is_boss? || @mob.is_mvp? ? '6' : '6' %>">
      <%=@mob.mode_text%>
    </td>
    <td>Maldito</td>
    <td><%=format_element(table["undead"])%></td>
  </tr>
</table>

<div class="columns">
  <div class="column content">
    <h4>Respawns</h4>
    <% if @mob.respawns.any? %>
      <table class="table is-striped is-bordered is-fullwidth">
        <tr>
          <th width="60">Quantidade</th>
          <th>Mapa</th>
          <th class="has-text-centered">Tempo</th>
        </tr>
        <% @mob.respawns.each do |respawn| %>
        <tr>
          <td class="has-text-centered"><%=respawn.amount%></td>
          <td><%= link_to respawn.respawn_map.name, map_path(respawn.respawn_map.name) %></td>
          <td class="has-text-centered"><%=respawn.tempo%></td>
        </tr>
        <% end %>
      </table>
    <% else %>
      <p>Este monstro não tem respawn em nenhum mapa</p>
    <% end %>
  </div>
  <div class="column content">
    <h4>Drops</h4>
    <% if @mob.drops.any? %>
      <table class="table is-striped is-bordered is-fullwidth">
        <tr>
          <th>Item</th>
          <th class="has-text-centered">Chance</th>
        </tr>
        <% @mob.drops.sort_by { |obj| obj.real_chance }.reverse.each do |drop| %>
          <tr>
            <td><a href="<%=item_path(drop.item.uid)%>">
              <img style="position: relative; top:4px" src="<%=drop.item.image%>" /> <%=drop.item.name %></a></td>
            <td class="has-text-centered"><%=drop.real_chance%>%</td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p>Este monstro não tem nenhum drop</p>
    <% end %>
  </div>
</div>
