<title><%=@title.nil? ? "#{site_title} - Ragnarok Old Times" : " #{@title} - #{site_title}" %></title>
<meta property="og:title" content="<%=@title.nil? ? "#{site_title} - Ragnarok Database" : @title %>"/>
<meta property="og:image" content="http://odindb.com<%=@image.nil? ? '/odin.jpg' : @image %>"/>
<meta property="og:site_name" content="<%=site_title%>"/>
<meta property="og:description" content="<%=@description.nil? ? 'Database Old Times para Ragnarok Online' : @description %>" />

<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
