<% tag_classes = 'tag is-light' %>
<section class="hero">
  <div class="hero-body no-left">
    <div class="container">
      <h1 class="title">
        <img src="<%=@item.image%>" />
        <%=@item.name%>
      </h1>
    </div>
  </div>
</section>

<div class="columns">
  <div class="column has-text-centered">
    <img src="<%=@item.big_image%>" />
  </div>
  <div class="column is-four-fifths">

    <p style="margin-bottom:20px"><%=@item.full_description%></p>

    <% if @item.weapon? %>
      <p><strong>Ataque:</strong> <span class="<%=tag_classes%>"><%=@item.atk%></span></p>
      <p><strong>Nível da Arma:</strong> <span class="<%=tag_classes%>"><%=@item.weapon_level%></span></p>
      <p><strong>Classe:</strong> <span class="<%=tag_classes%>"><%=@item.weapon_type%></span></p>
    <% end %>

    <% if @item.armor? %>
      <p><strong>Defesa:</strong> <span class="<%=tag_classes%>"><%=@item.defense%></span></p>
      <p><strong>Classe:</strong> <span class="<%=tag_classes%>"><%=@item.armor_type%></span></p>
      <% if @item.hat? %>
        <p><strong>Equipa em:</strong> <span class="<%=tag_classes%>"><%=@item.hat_location%></span></p>
      <% end %>
    <% end %>

    <% if @item.weapon? || @item.armor? %>
      <p><strong>Classes que usam:</strong> <span class="<%=tag_classes%>"><%=@item.job_names%></span></p>
      <% if @item.level_required > 0 %>
      <p><strong>Nível Necessário:</strong> <span class="<%=tag_classes%>"><%=@item.level_required%></span></p>
      <% end %>
    <% end %>

    <% if @item.ammo? %>
      <p><strong>Classe:</strong> <span class="<%=tag_classes%>"><%=@item.ammo_type%></span></p>
    <% end %>

    <p><strong>Peso:</strong> <span class="<%=tag_classes%>"><%=@item.peso%></span></p>

    <% if @item.script != '{}' || @item.script_equip != '{}' || @item.script_unequip != '{}' %>
      <% if !@item.script.blank? && @item.script != '{}' %>
        <br />
        <p><strong>Script:</strong><br />
          <pre><%=@item.script%></pre>
        </p>
      <% end %>

      <% if !@item.script_equip.blank? && @item.script_equip != '{}' %>
        <br />
        <p><strong>Script ao equipar:</strong><br />
          <pre><%=@item.script_equip%></pre>
        </p>
      <% end %>

      <% if !@item.script_unequip.blank? && @item.script_unequip != '{}' %>
        <br />
        <p><strong>Script ao desequipar:</strong><br />
          <pre><%=@item.script_unequip%></pre>
        </p>
      <% end %>

    <% end %>
  </div>
</div>

<% if @item.drops.any? %>
<table class="table is-fullwidth is-striped">
  <tr>
    <th colspan="2">Monstro</th>
    <th class="has-text-centered">Chance</th>
  </tr>
  <% @item.drops.each do |drop| %>
  <tr>
    <td width="80" class="has-text-centered">
      <img style="height:48px" src="<%=drop.mob.image%>" />
    </td>
    <td style="padding-top:20px">
      <a href="<%=mob_path(drop.mob.uid)%>">
        <%=drop.mob.name %>
      </a>
    </td>
    <td class="has-text-centered" style="padding-top:20px">
      <%=drop.chance%> %
    </td>
  </tr>
  <% end %>
</table>
<% end %>
